
@{
    ViewData["Title"] = "About";
}

<div class="container mt-4">

    <div class="alert alert-success">
        We are a technology company providing solutions worldwide.
    </div>

    <ul class="list-group">
        <li class="list-group-item">10+ Years Experience</li>
        <li class="list-group-item">500+ Clients</li>
        <li class="list-group-item">Global Services</li>
    </ul>

</div>
